*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }
  
  .header {
    width: 100%;
    height: 65px;
    background-image: linear-gradient(180deg, rgb(137, 212, 87), #eef1e0);
    border-top: 1px solid rgb(63, 226, 77);
    border-bottom: 1.3px solid rgb(61, 221, 75);
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding-top: 8px;
  }
  
  .container {
    width: 40%;
    height: 200px;
    margin-top: 100px;
    margin-left: 30%;
  }
  
  .insideHeader {
    font-size: 31px;
    font-weight: bold;
    text-align: center;
  }
  
  .insidebutton {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
  
  #studentButton {
    margin-left: 27px;
  }
  
  .Button {
    color: white;
    height: 40px;
    font-size: 19px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 7px;
    outline: none;
    background-color: rgb(56, 179, 250);
    border-color: 1px solid rgb(45, 76, 252);
  }
  