<app-header></app-header>

<form class="container" #productDetails="ngForm" (ngSubmit)="getData(productDetails.value)">
  <div class="form-heading"><span class="bold">Search! </span> your product here:</div>

  <div class="row g-3" style="margin-top:30px;">
    <div class="col">
      <input type="number" class="form-control" name="productId" ngModel placeholder="Product id"
        aria-label="Product id">
    </div>
    <div class="col">
      <input type="text" class="form-control" name="productName" ngModel placeholder="Product name"
        aria-label="Product name">
    </div>
  </div>
  <div class="row g-3" style="margin-top:20px;">
    <div class="col">
      <input type="text" class="form-control" placeholder="Product brand" name="productBrand" ngModel
        aria-label="Product brand">
    </div>
    <div class="col">
      <input type="number" class="form-control" style="width:40%;" name="minPrice" ngModel placeholder="Min Price"
        aria-label="Min Price">
      <input type="number" class="form-control" style="width:40%;margin-top: 4%;" name="maxPrice" ngModel
        placeholder="Max Price" aria-label="Max Price">
    </div>
  </div>

  <div class="submit-btn">
    <button type="submit" id="submit" class="btn btn-dark"
      style="width:30%;border-radius:15px;height:45px;">Search</button>
  </div>

</form>